@import "../../styles/partials/colors.scss";

.home {
  &__header {
    color: $coral;
  }
  &__desc {
    color: $blue;
  }
  &__artists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 55rem;
  }
}
